html, body { height: 100%; width: 100%; background-color: black; }
* { font-family: 'Montserrat', sans-serif; }
body::-webkit-scrollbar { width: 0; display: none; }




/*Нижняя часть страницы: Начало*/
	/*Таблица: Начало*/
#footer { margin-top: 3vw; }
#footer_content { width: 75%; position: relative; left: 50%; transform: translate(-50%,0); border-top: 0.16vw solid white; color: white; }
#footer table { width: 65%; margin-top: 1vw; }
#footer table th { border-color: black; font-size: 1.4vw; font-weight: 500; color: white; }
#footer table td { border-color: black; font-size: 1.2vw; font-weight: 400; color: white; height: 0.6vw; }
	/*Таблица: Конец*/

#footer_sale_form { position: absolute; right: 0px; top: 0px; width: 30%; height: 100%; }
#footer_sale_form_inputs { position: relative; left: 100%; transform: translate(-100%, 0); font-weight: 500; }
#footer_sale_form_inputs button { font-size: 1.1vw; margin-left: 0.2vw; height: 1.9vw; outline: none; border: none; background-color: white; }
#footer_sale_form_inputs input { font-size: 1.1vw; height: 1.9vw; outline: none; border: none; }
#footer_sale_form_inputs label { font-size: 1.4vw; margin-bottom: 1vw; margin-top: 1.4vw; }
/*Нижняя часть страницы: Конец*/


#header { height: 5vw; border-bottom: 0.16vw solid white; width: 65%; position: relative; left: 50%; transform: translate(-50%,0); }
#header_logo_genders h1 { display: inline; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 2.5vw; font-weight: 700; color: white; }
#header_logo_genders h1 a { text-decoration: none; color: white; }
#header_logo_genders { height: 5vw; }



#main { width: 65%; height: 40vw; position: relative; left: 50%; transform: translate(-50%,0); display: flex; flex-direction: row; background-color: white; margin-top: 4vw; }
#main_basket_clothes { width: 60%; background-color: black; overflow: scroll; overflow-x: hidden;}
#main_basket_clothes h3 { color: white; }

#card { width: 90%; background-color: black; height: 28vw; border-radius: 0px; }
#main_card_image { width: 40%; border: none; }
#main_card_image img { width: 13vw; border-radius: 0px; border: none; }
#main_card_body { width: 60%; padding-top: 0px; }
#main_card_body_prices p { display: inline; }
#main_card_body_form { display: flex; flex-direction: column; }
#brand { color: white; font-size: 1.6vw; }
#name { color: white; font-size: 1.2vw; }
#price { color: white; text-decoration: line-through; font-size: 1.1vw; position: relative; margin-left: 2vw; }
#sale { color: red; font-size: 1.4vw; }

.sizes { font-size: 1.2vw; }
.sizes { width: 65%; }
.sizes input { width: 100%; font-size: 1vw; }
label { color: white; }








#main_basket_price { width: 40%; height: 100%; padding: 1.4vw; }
#main_basket_price_form_title { font-size: 1.7vw; }
#main_basket_price button { width: 100%; height: 4vw; position: relative; left: 50%; transform: translate(-50%,0); font-size: 1.7vw; background-color: black; color: white; }
#main_basket_price input { width: 100%; margin-bottom: 1vw; font-size: 1.3vw; border: 0.1vw solid black; }
#order_price_final { display: flex; flex-direction: row; font-size: 2vw; border-top: 0.12vw solid black; padding-top: 2vw; }
#order_price_final_value { position: absolute; right: 1.4vw; } 
#order_price { font-size: 1.2vw; text-decoration: line-through; }
#order_sale { font-size: 1.2vw; color: red; }
#space { height: 2vw; }



#main_basket_clothes::-webkit-scrollbar {
  width: 0px;
}